{
  "presets": ["latest", "react"],
  "plugins": ["transform-object-rest-spread", "transform-decorators-legacy"],
  "env": {
    "test": {
      "plugins": ["transform-object-rest-spread", "transform-decorators-legacy", "rewire"]
    }
  }
}
