<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head', { css: css, title: 'Reactor C' })%>

    <!-- Third Party Javascript
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</head>

<body>
  <%- include ./partials/_entry %>

    <%- include('./partials/_scripts', { js: js }) %>

      <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>